* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}



html, body {
overflow-x: hidden;
scroll-behavior: smooth;
max-width: 1900px;
background-color: #242629;
}

p::selection {
background: #7F5AF0;
color: white;
}

/* Start Navbar Styling */

.navbar {
font-size: 18px;
background-image: transparent;
z-index: 2;
position: relative;
width: 95%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

}

.main-nav {
list-style-type: none;
display: none;

}

.nav-links,
.logo {
text-decoration: none;
color: #ffffff;

}



.main-nav li {
text-align: center;
margin: 15px auto;
font-weight: 600;
}

.logo {
display: inline-block;
margin-top: 20px;
font-weight: 600;
font-size: 32px;
font-family: 'Ubuntu', sans-serif;
}



.navbar-toggle {
position: absolute;
top: 20px;
right: 10px;
cursor: pointer;
color: rgba(255, 255, 255, 0.8);
font-size: 24px;

}


.active {
display: block;
}



/* End Navbar Section */


.hero-text {
text-align: start;
position: relative;
margin-top: calc(5% + 35px);
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
width: 95%;
max-width: 1100px;;
z-index: 1;
}

.hero-text h1 {
color: #f3f6f7;
font-size: 40px;
font-weight: 600;
margin-bottom: 0;
}

.hero-text h2 {
font-size: 18px;
width: 100%;
max-width: 550px;
font-weight: 400;
color: #94A1B2;
line-height: 1.75;
margin-top: 10px;

}



/* Button for hero section */

.hero-button {
  color: #f1f1f1;
  text-transform: uppercase;
  background-color: #7F5AF0;
  padding: 10px 15px;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 5%;
  margin-right: 20px;
  font-weight: 550;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
 
}

.hero-button2 {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 5%;
  background:#2CB67D;
  color: #f1f1f1;
  font-weight: 550;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


button:hover {
  transition: .3s ease;
  cursor: pointer;
  transform: translateY(-1px);
} 



/* Hero Grid Test Section */

.grid-container {
  width: 100%;
  max-width: 1900px;
  margin-top: -100px;
  display: grid;
  background: #16161A;
  height: 130vh;
  max-height: 875px;
  transform: skewY(-12deg);
  transform-origin: 0;
  position: absolute;
  border-bottom: 3px solid #010101;
}



/* SVG Phone and table div section1 */

.flatwrap {
  max-width: 100%;
  position: relative;
  margin-top: -550px;

}

/*///////////////////////////*/

.flat {
  transform: rotate(-12deg);
  width: 1220px;
  display: block;
  position: relative;
  margin-left: 44%;
  padding-top: 50px;

}

/* About Section */

.about-title {
  display: flex;
  margin: auto;
  font-size: 18px;
  color: #FFFFFE;
  text-transform: uppercase;
  margin-top: -20px;
  width: 450px;
}

.about-title i {
  font-size: 50px;
  animation: pulse 3s infinite linear;
  padding-left: 20px;
  color: #2CB67D;
}


@keyframes pulse {
0% { opacity: 1; }
50% { opacity: .2; }
100% { opacity: 1; }
} 


.about-section {
  width: 90vw;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  
}

.about-txt {
  width: 50%;
}


.about-txt p {
  margin-top: 5%;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: #94A1B2;
  border-bottom: 2px solid #010101;
  padding-bottom: 50px;
  text-align: end;

}

#contact-jump {
  color:#6772e5;
  font-weight: 600;
  font-size: 17px;
  transition: color .1s ease;
  border:none;
  margin: 50px auto;
  padding: 0;
}

#contact-jump i {
  font-size: 12px;
  padding-left: 12px;
  vertical-align: 10%;
}

#contact-jump:hover {
  color: black;
}

#aboutContact {
  text-decoration: none;

}

.about-img {
  margin-top: -230px;
  z-index: 5;
  position: relative;
  margin-right: -60%;
}

.about-img img {
  transform: rotate(-12deg);
}

.mobile-section {
  display: none;
}


/* What I do section */


.what:before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 165%;
  top: 0;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  background-color: #16161A;
  border-top: 3px solid #010101;
  
}

.what {
  position: relative;
  padding-top: 60px;
  padding-bottom: 55px;
  }
  

.cog {
margin-top: 20px;
text-align: center;
}

.rotate-center {
font-size: 30px;
color: #2ddf9d;
-webkit-animation: rotate-center 4s linear infinite both;
        animation: rotate-center 4s linear infinite both;
}

@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


.counter-rotate {
font-size: 50px;
color: #24b47e;
-webkit-animation: rotate-center 4s linear infinite reverse both;
        animation: rotate-center 4s linear infinite reverse both;
}

@-webkit-keyframes counter-rotate {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes counter-rotate {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

.what h2 {
text-align: center;
padding-top: 20px;
font-size: 26px;
color: #FFFFFE;
text-transform: uppercase;
position: relative;
z-index: 6;

}

.what p {
max-width: 730px;
text-align: center;
margin: auto;
margin-top: 40px;
font-size: 17px;
line-height: 28px;
color: #94A1B2;
position: relative;
z-index: 6;

}




/* SKills Section */

.skillsSection {
display: flex;
background-color: #242629;
border-bottom: 3px solid #010101;
border-top: 3px solid #010101;
position: relative;
z-index: 3;
margin-top: 50px;
} 

.skills {
  border-right: 1.5px solid #010101;
  margin-right: 0;
}


.skills h2 {
text-align: center;
color: #FFFFFE;
text-transform: uppercase;
margin-top: 50px;
font-size: 1.8em;

}

.skills i {
font-size: 40px;
animation: pulse 3s infinite linear;
padding-left: 20px;
color: #2CB67D;
}

.skillIcons {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
width: 50%;
min-width: 500px;
margin: 10% auto;

}

.skillIcons img, .toolIcons img {
  width: 11%;
  max-width: 130px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 3px solid #010101;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.skillIcons title {
  visibility: hidden;
  position: relative;
  display: inline-block;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

}

.skillIcons title:hover {
  visibility: visible;
  
}


/* .skillIcons img:nth-child(-n+2) {
width: 13%;
} */

.tools {
border-left: 1px solid #010101;

}


.tools h2 {
text-align: center;
color: #fffffe;
text-transform: uppercase;
margin-top: 50px;
font-size: 1.8em;
}

.tools i {
font-size: 40px;
animation: pulse 3s infinite linear;
padding-left: 20px;
color:#2CB67D;

}


.toolIcons {
margin-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-top: 10%;
width: 60%;
min-width: 500px;
margin: 10% auto;
}


#figma {
width: 7%;
padding-left: 15px;
padding-right: 15px;
}







/* Projects */

.dark {
  background-color: #16161A;
  
}

.title h2 {
display: flex;
justify-content: center;
padding-top: 5%;
font-size: 1.8em;
color: #fffffe;
text-transform: uppercase;
}

.projects h2 {
color: #fffffe;

}

.projects {
width: 75%;
max-width: 1100px;
margin: auto;
margin-top: 100px;
}

.projects p {
font-size: 17px;
font-weight: 400;
line-height: 28px;
color: #94a1b2;
}

.project-live {
display: inline-block;
color: #fffffe;
background: #7f5af0;
height: 40px;
line-height: 40px;
padding: 0 14px;
box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
border-radius: 4px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: .025em;
border: none;
transition: all .15s ease;
margin: 30px 5px;
text-decoration: none;
}

.project-live:hover {
transform: translateY(-1px);
}

.project1 {
display: flex;
flex-direction: row;
width: 100%;

}

.projectOneLeft {
width: 50%;
}

.projectOneRight {
font-size: 1em;
margin-top: 10px;
margin-left: 20px;
}


.divider-line { 
margin: 125px auto 125px;
height: 2px;
width: 70%;
border: 0;
background: #010101;

}

#last-project {
 padding-bottom: 150px;

}



/* Start Contact Section */


.contact-bg::before {
content: "";
position: absolute;
z-index: 0;
width: 100%;
height: 100%;
top: 250px;
-webkit-transform: skewY(-12deg);
transform: skewY(-12deg);
background: #242629;
border-top: 3px solid #010101;
}


.contact-bg {
position: relative;
margin-top: 0px;
padding-top: 150px;
padding-bottom: 90px;
width: 100%;


}

.contact-box-section {
display: flex;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
position: relative;

}

.contact-info {
height: 200px;
width: 48%;
display: flex;
border-radius: 8px;
margin-right: auto;
box-shadow: 0 13px 27px -5px rgba(29, 29, 41, 0.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
background-color: #242629;
border: 3px solid #010101;
}

.contact-info img {
width: 120px;
margin-left: 10px;
display: block;
overflow: hidden;

}

.contact-info form {
display: flex;
flex-direction: column;
border-radius: 8px;
padding: 40px 20px 40px 30px;
width: 50%;

}

.contact-info input {
line-height: 40px;
font-size: 19px;
background-color: #242629;

}

input {
border: none;
border-bottom: 2px solid #010101;
color: white;
}

::placeholder {
  color: #94a1b2;
}

.contact-message {
height: 200px;
width: 48%;
border-radius: 8px;
margin-left: auto;
box-shadow: 0 13px 27px -5px rgba(27, 27, 34, 0.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(233, 233, 233, 0.025);
display: flex;
justify-content: flex-end;
background-color: #242629;
border: 3px solid #010101;

}

.contact-message img {
width: 120px;
margin-left: 10px;
}

textarea {
border: none;
width: 80%;
border-radius: 8px;
font-size: 20px;
padding: 40px 20px 40px 30px;
background-color: #242629;
letter-spacing: 1px;
line-height: 25px;
}


/* Message Box Section */
.message-box {
max-width: 1100px;
margin-left: 20px;
margin-right: 20px;
margin-top: 100px;
}

.message-box h3 {
font-weight: 300;
font-size: 30px;

}



/* Message Box Section */
.message-box {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-left: 20px;
  position: relative;
}

.contact-header-main {
  font-weight: 300;
  font-size: 29px;
  color: #fffffe;
  background: none;
  position: relative;
}

.contact-header-secondary {
  color: #94a1b2;
  font-size: 29px;
  font-weight: 300;
}

.contact-button {
  color: #FFFFFE;
  background: #2CB67D;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  border: none;
  transition: all .15s ease;
  float: right;
  position: relative;
  margin-top: -140px;
  margin-right: 20%;
}






/* Start Social Media Section */
.social-section {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #242629;
margin-top: -80px;
padding-top: 150px;
padding-bottom: 100px;
position: relative;
}

.social-section i {
font-size: 50px;
color: #fffffe;

}

.social-section i:hover {
opacity: .5;
transition: .5s;
}

/*Footer Section*/

footer {
background-color: #242629;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 150px;
border-top: 2px solid #010101c2;
text-transform: uppercase;
position: relative;
}

footer h4 {
font-size: 15px;
color: #94a1b2;
font-weight: 600;
}

footer button {
border: none;
background-color: inherit;
font-size: 15px;
font-weight: 600;
color: #94a1b2;
text-transform: uppercase;
}



.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 10; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
margin: auto;
border: 3px solid #010101;
border-radius: 5px;
width: 85%;
line-height: 1.5;
max-width: 750px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
margin-bottom: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {bottom:-300px; opacity:0} 
to {bottom:0; opacity:1}
}

@keyframes animatetop {
from {bottom:-300px; opacity:0}
to {bottom:0; opacity:1}
}

/* The Close Button */
.close {
color: #24b47e;
float: right;
font-size: 40px;
font-weight: bold;
margin-top: -10px;
}

.close:hover,
.close:focus {
color: #24b47e;
opacity: .8;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 5px 16px;
background-color: #16161A;
color: #fffffe;
}

.modal-header h2 {
padding-top: 10px;
padding-bottom: 20px;
}

.modal-body {
padding: 20px 20px;
background-color: #16161A;
color: #94A1B2;
}

